@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=Prompt:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

.header{
    color: blue;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

#content{
    font-family: 'Cormorant SC', serif;
    text-align: center;   
}

table, th, td {
    border:1px solid black;
    font-family: 'Cormorant SC', serif;
    font-weight: bolder;
}

#demo{
    background-color: chocolate;
    font-size: larger;
    font-family: 'Bai Jamjuree', serif;
    font-weight: bolder;
}